<% include ../../../include/layout/start.ejs %>
<div id="example" v-cloak>
  <div class="template-page">
    <div class="template-page-location">
      <el-breadcrumb separator=">">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>通用模板</el-breadcrumb-item>
        <el-breadcrumb-item>页面结构</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="template-page-tab">
      <div class="template-page-tab">
        <h4 style="padding:10px 0 0 20px;">结构 1：页面带tab</h4>
        <el-tabs v-model="activeName" type="card">
          <el-tab-pane label="标签标题一" name="first">
            <!--  内容区域 筛选及表格结构 / begin -->
            <div class="tmp-page__content">
              <el-row>
                <el-col :span="24">
                  <div class="template-table-bar">
                    <el-row type="flex">
                      <el-col :span="14">
                        <el-form-grid>
                          <el-button type="primary"><i class="bui-edit"></i>批量备注</el-button>
                        </el-form-grid>
                        <el-form-grid>
                          <el-button type="primary"><i class="bui-send"></i>批量发送短信</el-button>
                        </el-form-grid>
                        <el-form-grid>
                          <el-button type="primary"><i class="bui-import"></i>导入数据（CSV）表格</el-button>
                        </el-form-grid>
                      </el-col>
                      <el-col :span="10">
                        <el-form class="pull-right" :inline="true">
                          <el-form-item>
                            <el-input
                              placeholder="请输入姓名"
                              icon="search"
                            >
                            </el-input>
                          </el-form-item>
                        </el-form>
                      </el-col>
                    </el-row>
                  </div>
                  <el-table :data="tableData">
                    <el-table-column type="selection" width="40" align="center"></el-table-column>
                    <el-table-column prop="date" label="日期" width="180" align="center"></el-table-column>
                    <el-table-column prop="name" label="姓名"></el-table-column>
                    <el-table-column prop="province" label="省份"></el-table-column>
                    <el-table-column prop="address" label="地址"></el-table-column>
                  </el-table>
                </el-col>
              </el-row>
            </div>
            <!--  内容区域 筛选及表格结构 / end -->
          </el-tab-pane>
          <el-tab-pane label="标签标题二" name="seconde">
            <!--  内容区域 筛选及表格结构 / begin -->
            <div class="tmp-page__content">
              <el-row>
                <el-col :span="24">
                  <div class="template-table-bar">
                    <el-row type="flex">
                      <el-col :span="14">
                        <el-button type="primary"><i class="bui-import"></i>导入数据（CSV）表格</el-button>
                      </el-col>
                      <el-col :span="10">
                        <el-form class="pull-right" :inline="true">
                          <el-form-item>
                            <el-input
                              placeholder="请输入姓名"
                              icon="search"
                            >
                            </el-input>
                          </el-form-item>
                        </el-form>
                      </el-col>
                    </el-row>
                  </div>
                  <el-table :data="tableData">
                    <el-table-column prop="name" label="姓名"></el-table-column>
                    <el-table-column prop="province" label="省份"></el-table-column>
                    <el-table-column prop="address" label="地址"></el-table-column>
                  </el-table>
                </el-col>
              </el-row>
            </div>
            <!--  内容区域 筛选及表格结构 / end -->
          </el-tab-pane>
        </el-tabs>

        <h4 style="padding-left:20px;">结构2：不带tab ,但是有菜单标题</h4>
        <div class="tmp-page__header">
          <div class="tmp-page__menu">
            <a class="tmp-page__menu-item is-active">会员数据</a>
            <a class="tmp-page__menu-item">商品数据</a>
            <a class="tmp-page__menu-item">商品数据</a>
          </div>
        </div>
        <!--  内容区域 筛选及表格结构 / begin -->
        <div class="tmp-page__content">
          <el-row>
            <el-col :span="24">
              <div class="template-table-bar">
                <el-row type="flex">
                  <el-col :span="14">
                    <el-form-grid>
                      <el-button type="primary"><i class="bui-edit"></i>批量备注</el-button>
                    </el-form-grid>
                    <el-form-grid>
                      <el-button type="primary"><i class="bui-send"></i>批量发送短信</el-button>
                    </el-form-grid>
                    <el-form-grid>
                      <el-button type="primary"><i class="bui-import"></i>导入数据（CSV）表格</el-button>
                    </el-form-grid>
                  </el-col>
                  <el-col :span="10">
                    <el-form class="pull-right" :inline="true">
                      <el-form-item>
                        <el-input
                          placeholder="请输入姓名"
                          icon="search"
                        >
                        </el-input>
                      </el-form-item>
                    </el-form>
                  </el-col>
                </el-row>
              </div>
              <el-table :data="tableData">
                <el-table-column type="selection" width="40" align="center"></el-table-column>
                <el-table-column prop="date" label="日期" width="180" align="center"></el-table-column>
                <el-table-column prop="name" label="姓名"></el-table-column>
                <el-table-column prop="province" label="省份"></el-table-column>
                <el-table-column prop="address" label="地址"></el-table-column>
              </el-table>
            </el-col>
          </el-row>
        </div>
        <!--  内容区域 筛选及表格结构 / end -->

        <h4 style="padding-left:20px;">结构3：不带tab ,也没有菜单标题</h4>
        <!--  内容区域 筛选及表格结构 / begin -->
        <div class="tmp-page__content">
          <el-row>
            <el-col :span="24">
              <div class="template-table-bar">
                <el-row type="flex">
                  <el-col :span="14">
                    <el-form-grid>
                      <el-button type="primary"><i class="bui-edit"></i>批量备注</el-button>
                    </el-form-grid>
                    <el-form-grid>
                      <el-button type="primary"><i class="bui-send"></i>批量发送短信</el-button>
                    </el-form-grid>
                    <el-form-grid>
                      <el-button type="primary"><i class="bui-import"></i>导入数据（CSV）表格</el-button>
                    </el-form-grid>
                  </el-col>
                  <el-col :span="10">
                    <el-form class="pull-right" :inline="true">
                      <el-form-item>
                        <el-input
                          placeholder="请输入姓名"
                          icon="search"
                        >
                        </el-input>
                      </el-form-item>
                    </el-form>
                  </el-col>
                </el-row>
              </div>
              <el-table :data="tableData">
                <el-table-column type="selection" width="40" align="center"></el-table-column>
                <el-table-column prop="date" label="日期" width="180" align="center"></el-table-column>
                <el-table-column prop="name" label="姓名"></el-table-column>
                <el-table-column prop="province" label="省份"></el-table-column>
                <el-table-column prop="address" label="地址"></el-table-column>
              </el-table>
            </el-col>
          </el-row>
        </div>
        <!--  内容区域 筛选及表格结构 / end -->
        <h4 style="padding-left:20px;">结构4：左右分栏(没有tab)</h4>
        <div class="tmp-page__header">
          <div class="tmp-page__menu">
            <a class="tmp-page__menu-item is-active">组织机构</a>
          </div>
        </div>
        <div class="template-layout">
          <div class="template-layout-left">左侧内容</div>
          <div class="template-layout-right">
            <!--  内容区域 筛选及表格结构 / begin -->
            <div class="tmp-page__content">
              <el-row>
                <el-col :span="24">
                  <div class="template-table-bar">
                    <el-row type="flex">
                      <el-col :span="14">
                        <el-form-grid>
                          <el-button type="primary"><i class="bui-edit"></i>批量备注</el-button>
                        </el-form-grid>
                        <el-form-grid>
                          <el-button type="primary"><i class="bui-send"></i>批量发送短信</el-button>
                        </el-form-grid>
                        <el-form-grid>
                          <el-button type="primary"><i class="bui-import"></i>导入数据（CSV）表格</el-button>
                        </el-form-grid>
                      </el-col>
                      <el-col :span="10">
                        <el-form class="pull-right" :inline="true">
                          <el-form-item>
                            <el-input
                              placeholder="请输入姓名"
                              icon="search"
                            >
                            </el-input>
                          </el-form-item>
                        </el-form>
                      </el-col>
                    </el-row>
                  </div>
                  <el-table :data="tableData">
                    <el-table-column type="selection" width="40" align="center"></el-table-column>
                    <el-table-column prop="date" label="日期" width="180" align="center"></el-table-column>
                    <el-table-column prop="name" label="姓名"></el-table-column>
                    <el-table-column prop="province" label="省份"></el-table-column>
                    <el-table-column prop="address" label="地址"></el-table-column>
                  </el-table>
                </el-col>
              </el-row>
            </div>
            <!--  内容区域 筛选及表格结构 / end -->
          </div>
        </div>
        <h4 style="padding-left:20px;">结构5：左右分栏(tab内)</h4>
        <el-tabs v-model="activeName2" type="card">
          <el-tab-pane label="机械" name="fir">
            <div class="template-layout">
              <div class="template-layout-left">左侧内容</div>
              <div class="template-layout-right">
                <!--  内容区域 筛选及表格结构 / begin -->
                <div class="tmp-page__content">
                  <el-row>
                    <el-col :span="24">
                      <div class="template-table-bar">
                        <el-row type="flex">
                          <el-col :span="14">
                            <el-form-grid>
                              <el-button type="primary"><i class="bui-edit"></i>批量备注</el-button>
                            </el-form-grid>
                            <el-form-grid>
                              <el-button type="primary"><i class="bui-send"></i>批量发送短信</el-button>
                            </el-form-grid>
                            <el-form-grid>
                              <el-button type="primary"><i class="bui-import"></i>导入数据（CSV）表格</el-button>
                            </el-form-grid>
                          </el-col>
                          <el-col :span="10">
                            <el-form class="pull-right" :inline="true">
                              <el-form-item>
                                <el-input
                                  placeholder="请输入姓名"
                                  icon="search"
                                >
                                </el-input>
                              </el-form-item>
                            </el-form>
                          </el-col>
                        </el-row>
                      </div>
                      <el-table :data="tableData">
                        <el-table-column type="selection" width="40" align="center"></el-table-column>
                        <el-table-column prop="date" label="日期" width="180" align="center"></el-table-column>
                        <el-table-column prop="name" label="姓名"></el-table-column>
                        <el-table-column prop="province" label="省份"></el-table-column>
                        <el-table-column prop="address" label="地址"></el-table-column>
                      </el-table>
                    </el-col>
                  </el-row>
                </div>
                <!--  内容区域 筛选及表格结构 / end -->
              </div>
            </div>
          </el-tab-pane>
        </el-tabs>

        <h4 style="padding-left:20px;">结构6：左右分栏(tab外)</h4>
        <div class="template-left-tree">
          <el-scrollbar ref="layoutLeftScroll"
                        wrap-class="template-layout__scroll" outsider>
            <h5 class="template-tree-title">所有类目</h5>
            <el-tree-extra class="template-tree-organize"
                           :data="orgnazationData"
                           node-key="id"
                           :indent="20"
                           :expand-on-click-node="false"
                           :maxlength="15"
                           show-icon
                           icon-add="bui-add"
                           icon-edit="bui-edit"
                           icon-delete="bui-delete"
                           @node-click="handleOrgClick"
                           :set-custom-icon="setCustomIcon"
                           :before-add-node="beforeAddNode"
                           :save-new-data="saveNewData"
                           :before-edit-node="beforeEditNode"
                           :save-edit-data="saveEditData"
                           :before-delete-node="beforeDeleteNode"
                           :after-delete-node="afterDeleteNode">
            </el-tree-extra>
          </el-scrollbar>
        </div>
        <el-tabs v-model="activeName" type="card">
          <el-tab-pane label="标签标题一" name="first">
            <!--  内容区域 筛选及表格结构 / begin -->
            <div class="tmp-page__content">
              <el-row>
                <el-col :span="24">
                  <div class="template-table-bar">
                    <el-row type="flex">
                      <el-col :span="14">
                        <el-form-grid>
                          <el-button type="primary"><i class="bui-edit"></i>批量备注</el-button>
                        </el-form-grid>
                        <el-form-grid>
                          <el-button type="primary"><i class="bui-send"></i>批量发送短信</el-button>
                        </el-form-grid>
                        <el-form-grid>
                          <el-button type="primary"><i class="bui-import"></i>导入数据（CSV）表格</el-button>
                        </el-form-grid>
                      </el-col>
                      <el-col :span="10">
                        <el-form class="pull-right" :inline="true">
                          <el-form-item>
                            <el-input
                              placeholder="请输入姓名"
                              icon="search"
                            >
                            </el-input>
                          </el-form-item>
                        </el-form>
                      </el-col>
                    </el-row>
                  </div>
                  <el-table :data="tableData">
                    <el-table-column type="selection" width="40" align="center"></el-table-column>
                    <el-table-column prop="date" label="日期" width="180" align="center"></el-table-column>
                    <el-table-column prop="name" label="姓名"></el-table-column>
                    <el-table-column prop="province" label="省份"></el-table-column>
                    <el-table-column prop="address" label="地址"></el-table-column>
                  </el-table>
                </el-col>
              </el-row>
            </div>
            <!--  内容区域 筛选及表格结构 / end -->
          </el-tab-pane>
          <el-tab-pane label="标签标题二" name="seconde">
            <!--  内容区域 筛选及表格结构 / begin -->
            <div class="tmp-page__content">
              <el-row>
                <el-col :span="24">
                  <div class="template-table-bar">
                    <el-row type="flex">
                      <el-col :span="14">
                        <el-button type="primary"><i class="bui-import"></i>导入数据（CSV）表格</el-button>
                      </el-col>
                      <el-col :span="10">
                        <el-form class="pull-right" :inline="true">
                          <el-form-item>
                            <el-input
                              placeholder="请输入姓名"
                              icon="search"
                            >
                            </el-input>
                          </el-form-item>
                        </el-form>
                      </el-col>
                    </el-row>
                  </div>
                  <el-table :data="tableData">
                    <el-table-column prop="name" label="姓名"></el-table-column>
                    <el-table-column prop="province" label="省份"></el-table-column>
                    <el-table-column prop="address" label="地址"></el-table-column>
                  </el-table>
                </el-col>
              </el-row>
            </div>
            <!--  内容区域 筛选及表格结构 / end -->
          </el-tab-pane>
        </el-tabs>

      </div>
    </div>
  </div>
</div>
<% include ../../../include/layout/end.ejs %>
