<% include ../../../include/layout-full/start.ejs %>
<div id="example" class="tmp-page-error">
  <div class="error-bg"></div>
  <div class="error-tips">建议您尝试返回 <a href="javascript:history.go(-1)">上一页面</a></div>
</div>
<% include ../../../include/layout-full/end.ejs %>
