<th:block th:fragment="render(item, preffix)">
	<th:block th:include="../public/renderEngine3.0/form/inputFactory::formItem(${item}, ~{::inputFragment})">
		<th:block th:fragment="inputFragment">
			<el-upload  v-showRequired
		       	th:v-model="${preffix+item.name}"
		       	th:name = "${item.get('name')}"
		       	th::on-change="${item.control.get('callback')}"
		       	th::limit-file-list="${item.control.get('isMulti')}" th:action="${item.control.url}" th:accept="${item.control.get('fileType')}" >
		       <el-button size="small" type="primary">选择文件</el-button>
		       <div slot="tip" class="el-upload__tip">[[${item.get('placeholder')}]]</div>
		    </el-upload>
		</th:block>
	</th:block>
</th:block>

<th:block th:fragment="render(item, preffix)">
 	<th:block th:with="
		label = ${input.text + '：'},
		class = ${input.inline ? 'el-inline-block' : null},
		name = ${input.name}
	">
		<el-form-item th:label="${label}" th:class = "${class}">
			<el-form-grid size="xmd">
				<el-form-item th:prop = "${name}" >
					<el-upload  v-showRequired
				       	th:v-model="${preffix+name}"
				       	th:name = "${name}"
				       	th::on-change="${item.control.callback}"
				       	th::limit-file-list="${item.control.isMulti}" th:action="${item.control.url}" th:accept="${item.control.fileType}" >
				       <el-button size="small" type="primary">选择文件</el-button>
				       <div slot="tip" class="el-upload__tip">[[${item.placeholder}]]</div>
				    </el-upload>
				</el-form-item>
			</el-form-grid>
		</el-form-item>
	</th:block>
</th:block>