<th:block th:fragment="render(input, preffix)">
 	<th:block th:with="
		label = ${input.text + '：'},
		class = ${input.inline ? 'el-inline-block' : null},
		name = ${input.name}
	">
		<el-form-item th:label="${label}" th:class = "${class}">
			<el-form-grid size="xmd">
				<el-form-item th:prop = "${name}">
					<th:block th:with="control = ${input.control}">
						<el-select th:if="${control.isServerMode() == true}" v-showRequired th:v-model="${preffix+input.name}">
				            <th:block th:with="options = ${control.getOptions(#ctx)}">
				            	<el-option th:each="item,iterStat : ${options}" th:attr = "
					                ':value'= ${#strings.startsWith(item.v,'#') ? #strings.substringAfter(item.v,'#') : null },
					                'value'= ${!#strings.startsWith(item.v,'#') ? item.v : null },
					                'label' = ${item.k}
					              "
					            	filterable clearable
		    						placeholder=""
					            >
					          	</el-option>
				            </th:block>
				        </el-select>
				        <ns-select th:unless="${control.isServerMode() == true}"  v-showRequired th:v-model="${preffix+input.name}"
				        	th:url = "${control.url}"
				        	filterable  clearable
		    				placeholder=""
		    				th:attrappend="
				    			':multiple' = ${control.isMulti}
				    		"
				        ></ns-select>
					</th:block>
				</el-form-item>
			</el-form-grid>
		</el-form-item>
	</th:block>
</th:block>
